body {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}


.display {
    width: 450pt;
    height: 100pt;
    background-color: rgb(94, 94, 94);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    font-size: 84px;
    align-items: center;
    justify-content: flex-end;
}

.display > span {
    margin-right: 40px;
    color: white;
}

.container {
    border-radius: 20px 20px 20px 20px;
    margin-top: 4%;
    background-color: rgb(40, 40, 40);
    width: 450pt;
    height: 650pt;
}

.body {
    margin: 40px;
    display: flex;
    gap: 20px;
    justify-content: right;
    flex-wrap: wrap;
}

.body > button {
    font-size: 42px;
    border: none;
    color: white;
    font-weight: bold;
    transition: 0.1s;
}

.digit {
    background-color: hsl(0, 0%, 45%);
    width: 115px;
    height: 115px;
    border-radius: 50%;
}

.clear {
    background-color: hsl(0, 0%, 45%);
    width: 115px;
    height: 115px;
    border-radius: 50%;
}

.operator {
    background-color: hsl(41, 100%, 50%);
    width: 115px;
    height: 115px;
    border-radius: 50%;
}

.sum {
    background-color: hsl(41, 100%, 50%);
    width: 115px;
    height: 115px;
    border-radius: 50%;
}

.backspace {
    background-color: hsl(0, 96%, 48%);
    width: 380px;
    border-radius: 50px;
}

.digit:hover {
    background-color: hsl(0, 0%, 75%);
}
.operator:hover, .sum:hover {
    background-color: hsl(39, 100%, 74%);
}
.backspace:hover {
    background-color: hsl(0, 96%, 78%);
}

.digit:active {
    background-color: hsl(0, 0%, 85%);
}
.operator:active, .sum:active {
    background-color: hsl(39, 100%, 84%);
}
.backspace:active {
    background-color: hsl(0, 96%, 98%);
}

